#HA Config folder
config/

# Ignore all __pycache__ folders
__pycache__/

dev/testing.py
custom_components/up-bank/exampleJson
.vscode/settings.json
custom_components/up-bank/homeassistant-up-bank.code-workspace
custom_components/up_bank/homeassistant-up-bank.code-workspace
homeassistant-up-bank.code-workspace
